<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Connection_WhishList_Database" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Finished Applications\Windows Presentation Foundation (WPF)\Book Library System\Book Library System\Database\WhishListDatabase.mdf;Integrated Security=True;Connect Timeout=30"/>
    <add name="Connection_Library_Database" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Finished Applications\Windows Presentation Foundation (WPF)\Book Library System\Book Library System\Database\LibraryDatabase.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>